header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.quiz-section {
    background-image: url(img/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0,6,22);
    min-height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.quiz-card {
    width: 40rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.btn-primary {
    background-color: rgb(49,96,143) !important;
}

.btn-primary:hover {
    background-color: rgb(73, 130, 187) !important;
}

.quiz-answer-card:hover {
    background-color: rgba(49,96,143,0.05);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white !important;
}